<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">OpenFDA Analytics</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid" ng-controller="DashboardCtrl">
  <div class="row">
  <h4 ng-if="loading" class="text-center"><span class="label label-danger">Loading ...</span></h4>

    <div ng-repeat="message in messages" class="alert alert-{{message.alertClass}}">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{message.text}}
    </div>

  </div>

  <div class="row">

    <div class="col-sm-3 col-md-2" style="">
      <p class="input-group" style="margin-top:10px">
        <input
          style="display: none"
          type="text"
          class="form-control"
          ng-model="searchText"
          placeholder="Search"
        />
        <span class="pull-left">

          <button
            type="button"
            class="btn btn-default"
            ng-click="reset()"
          >
            Reset
          </button>
        </span>
        <span class="pull-right">

          <button
            type="button"
            class="btn btn-primary"
            ng-click="renderAll()"
            ng-disabled="loading"
          >
            <i class="glyphicon glyphicon-search"></i> Apply Filters
          </button>
        </span>
      </p>
      <accordion close-others="oneAtATime">
        <accordion-group
          ng-repeat="item in (safetyReportProperties | filter:{value: {visible: true}}) | orderBy:'value.order'"
          ng-init="status.isOpen=true"
          is-open="status.isOpen"
        >
          <accordion-heading>
            {{item.value.name || item.field}}
            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': !status.isOpen, 'glyphicon-chevron-up': status.isOpen}"></i>
          </accordion-heading>

            <select
              ng-if="item.value.elType == 'multi_select'"
              chosen
              multiple
              data-placeholder="Choose"
              ng-model="tempSearchOptions[item.full_field]"
              ng-options="(item.value.trackByIndex ? key : value) as  value for (key,value) in item.value.store"
            >
            </select>

            <select
              ng-if="item.value.elType == 'select'"
              chosen
              data-placeholder="Choose"
              ng-model="tempSearchOptions[item.full_field]"
              ng-options="(item.value.trackByIndex ? key : value) as  value for (key,value) in item.value.store"
            >
            </select>

            <div
              ng-if="item.value.elType == 'range'"
              range-slider
              ng-model="tempSearchOptions[item.full_field]"
              min="item.value.min"
              max="item.value.max"
              model-min="tempSearchOptions[item.full_field].min"
              model-max="tempSearchOptions[item.full_field].max"
              ng-init="tempSearchOptions[item.full_field].min=item.value.min; tempSearchOptions[item.full_field].max=item.value.max"
            ></div>



            <span
              ng-if="item.value.elType == 'date'"
              ng-init="status.dateOpen"
            >
              <input
                date-range-picker
                class="form-control date-picker"
                type="text"
                min="dateOption.minDate"
                max="dateOptions.maxDate"
                options="dateOptions"
                ng-model="tempSearchOptions[item.full_field]"
              />

            </span>
        </accordion-group>
      </accordion>
    </div>

    <div class="col-sm-9 col-md-10">
      <div class="">
        <h1 class="col-md-6">Adverse Drug Event Analysis</h1>
        <div class="col-md-6" style="padding: 10px;">
          <h2 class="pull-right">Total Records: {{stats.total}}</h2>
          <!-- <span class="text-muted">Total</span> -->
        </div>

        <!-- <h2 class="col-md-4 text-center" style="padding: 10px;">{{stats.total}}</h2> -->
        <div class="col-md-4" style="padding: 25px;">

        </div>
      </div>
      <hr>

      <section>
        <div class="row">

          <!-- <a class="btn btn-primary" href="#" ng-click="search()">Search</a> -->

          <tabset>

            <tab select="onTabChange()">
               <tab-heading>
                 By Month
               </tab-heading>
              <h2> Adverse Event Count</h2>
              <div class="col-md-12">
                <nvd3 options="monthOptions" data="monthData"></nvd3>
              </div>
              <hr>
              <h2 class="sub-header">Adverse Report</h2>
              <div
                id="search_results"
                ui-grid="gridOptions"
                ui-grid-pagination
                class="grid"
              ></div>
            </tab>

            <tab select="onTabChange()">
              <tab-heading>
                Demographics
              </tab-heading>
              <h2> Demographics and Visualizations of Adverse Drug Event Outcomes </h2>
              <div class="col-md-12">
                <div class="col-md-12">
                  <div class="col-md-6">
                    <nvd3 options="outcomeOptions" data="outcomeData"></nvd3>
                  </div>
                  <div class="col-md-6">
                    <nvd3 id="sexChart" options="sexOptions" data="sexData"></nvd3>
                  </div>

                  <div class="col-md-12">
                    <nvd3 options="ageOptions" data="ageData"></nvd3>
                  </div>

                  <div class="col-md-12">
                    <nvd3 options="weightOptions" data="weightData"></nvd3>
                  </div>

                  <div class="col-md-12">
                    <nvd3 options="countryOptions" data="countryData"></nvd3>
                  </div>
                </div>

                <div class="col-md-12">
                  <nvd3 options="medicineOptions" data="medicineData"></nvd3>
                </div>

              </div>

            </tab>

             <tab select="onTabChange()">
               <tab-heading>
                 Drug Usage
               </tab-heading>
               <div class="col-md-12">
                <nvd3 options="drugUsageOptions" data="drugUsageData"></nvd3>
              </div>
             </tab>

             <tab select="onTabChange()">
               <tab-heading>
                 Reporter Occupation
               </tab-heading>

               <nvd3 options="occupationOptions" data="occupationData"></nvd3>

             </tab>

          </tabset>

        </div>

      </section>

    </div>


  </div>
</div>
