<!DOCTYPE html>
<html ng-app="openfda">
<head>
  <title>OpenFDA</title>
  <meta charset="utf-8">  <!-- it's important for d3.js -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>